{% extends "layout.html" %}
{% block title %} Edit Ticket {% endblock %}

{% block content %}
<h3>Edit ticket:</h3>
<form method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.created_by.label }} <br> <!-- Individual Who is requesting service -->
        <div style="color: black;">{{ form.created_by(size=30) }}</div>
    </p>
    <p>
        {{ form.dept.label }} <br>
        <div style="color: black;">{{ form.dept(size=4) }}</div>
    </p>
    <p>
        {{ form.title.label }} <br> <!-- Dept. they're in? -->
        <div style="color: black;">{{ form.title(size=30) }}</div>
    </p>
    {% if form.assigned_to %}
    <p>
        {{ form.assigned_to.label }} <br> <!-- Who is the ticket assigned to -->
        <div style="color: black;">{{ form.assigned_to(size=30) }}</div>
    </p>
    {% endif %}
    {% if form.status %}
    <p>
        {{ form.status.label }} <br> <!-- Status of the ticket -->
        <div style="color: black;">{{ form.status(size=3) }}</div>
    </p>
    {% endif %}
    {% if form.priority %}
    <p>
        {{ form.priority.label }} <br> <!-- Priority of the ticket -->
        <div style="color: black;">{{ form.priority(size=3) }}</div>
    </p>
    {% endif %}
    <p>
        {{ form.description.label }} <br> <!-- Brief title of issue -->
        <div style="color: black;">{{ form.description(size=30) }}</div>
    </p>
    <p>
        {{ form.location.label }} <br> <!-- Where did the issue take place -->
        <div style="color: black;">{{ form.location(size=3) }}</div>
    </p>
    <p>
        <div style="color: black;">{{ form.submit() }}</div>
    </p>
</form>
{% endblock %}
<footer>
    <hr/>
    <p>Team Corn, LLC. &copy; 2023</p>
</footer>