{% extends "layout.html" %}
{% block title %} Modify User {% endblock %}

{% block content %}
<h3>Modify User Details:</h3>
<form method="post" action="{{ url_for('edit_user', user_id=user.id) }}">
    {{ form.hidden_tag() }} <!-- Needed for CSRF token -->
    <p>
        {{form.name.label}} <br>
        <div style="color: black;">{{form.name(size=30)}}</div>
    </p>
    <p>
        {{form.email.label}} <br>
        <div style="color: black;">{{form.email(size=30)}}</div>
    </p>
    <p>
        {{form.dept.label}} <br>
        {% for option in form.dept %}
            {{ option }} {{ option.label }}
        {% endfor %}
    </p>
    <p>
        {{ form.role.label }} <br>
        {% for option in form.role %}
            <input type="radio" id="role-{{ option.data }}" name="{{ form.role.name }}" value="{{ option.data }}" {% if option.checked %} checked {% endif %}>
            <label for="role-{{ option.data }}">{{ option.label.text }}</label><br>
        {% endfor %}
    </p>

    <p style="color: black;">{{form.submit}}</p>

    {% if form.errors %}
    <ul class="errors">
        {% for error in form.errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}
</form>
{% endblock %}
<footer>
    <hr/>
    <p>Team Corn, LLC. &copy; 2023</p>
</footer>