<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Ticket System{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <style>
            footer {
                position:absolute;
                bottom:0px;
                width: 90%;
                color: black;
            }
        </style>
    </head>

    <body>
        <title>Ticketing System</title>
        <div>
            <button id="dark-mode-toggle" aria-label="toggle dark mode" class="text-right" 
                style="
                float: right;
                padding: 0;
                border: none;
                background: none;
                ">
                <img
                src="{{ url_for('static', filename='images/cworn.png') }}"
                class="image"
                width="60"
                height="60"
                />
                </button>
            <h1>Corn Ticketing System</h1>
        </div><br>
        
        
        <div class="navbars">
            <a href="{{ url_for('home') }}" class="navbars-brand">Home</a>
            <a href="{{ url_for('dashboard') }}" class="navbars-item">Dashboard</a>
            {% if current_user.is_authenticated and current_user.role == 'admin' %}
                <a href="{{ url_for('users') }}" class="navbars-item">Users</a>
                <a href="{{ url_for('tickets') }}" class="navbars-item">Tickets</a>
            {% endif %}
            <a href="{{ url_for('submit_ticket') }}" class="navbars-item">Request</a>
            <a href="{{ url_for('logout') }}" class="navbars-item" style="float: right;">Logout</a>
        </div>

        <!-- Displays currently logged-in user & role, if any -->
        {% if current_user.is_authenticated %}
            <p>User: {{ current_user.username }} | Role: {{ current_user.role }}</p>
        {% else %}
            <p>Not signed in.</p>
        {% endif %}

        <!-- Displays errors from 'flash()' -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for message in messages %}
                <div>ERROR: {{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        <div class="body-content">
            {% block content %}
            {% endblock %}
        </div>

    <script src="{{ url_for('static', filename='js/darkmode.js') }}"> </script>
    </body>
</html>