{% extends "layout.html" %}
{% block title %} Submit New Ticket {% endblock %}
<style>
    textarea {
        font-family: inherit;
        font-size: 100%;
        color: black;
    }
</style>
{% block content %}
<h3>Submit new ticket:</h3>
<form method="post" style="position: relative;">
    {{ form.hidden_tag() }}
    <p>
        {{ form.created_by.label }} <br> <!-- Individual Who is requesting service -->
        <div style="color: black;">{{ form.created_by(size=30) }}</div>
    </p>
    <fieldset>
        <legend>{{ form.dept.label }}</legend>
        {{ form.dept() }}
    </fieldset>
    <p>
        {{ form.title.label }} <br> <!-- Dept. they're in? -->
        <div style="color: black;">{{ form.title(size=30) }}</div>
    </p>
    <p>
        {{ form.assigned_to.label }} <br> <!-- Who is the ticket assigned to -->
        <div style="color: black;">{{ form.assigned_to(size=30) }}</div>
    </p>
    <fieldset>
        <legend>{{ form.status.label }}</legend>
        {{ form.status() }}
    </fieldset>
    <fieldset>
        <legend>{{ form.priority.label }}</legend>
        {{ form.priority() }}
    </fieldset>
    <p>
        {{ form.description.label }} <br> <!-- Brief title of issue -->
        <div style="color: black;">{{ form.description(size=30) }}</div>
    </p>
    <fieldset>
        <legend>{{ form.location.label }}</legend>
        {{ form.location() }}
    </fieldset>
    <p>
        <div style="color: black;">{{ form.submit() }}</div>
    </p>
</form>
{% endblock %}
